*{
    /* resets default settings */
    margin: 0;
    padding: 0; 

    /* global transition duration */
    transition-duration: 600ms;

    /* default font settings */
    font-family : Times;
    font-size : 14px;
}

.anchored{
    /* sets all positiong as absolute 
    (this allows overlaying components over canvas) */
    position: absolute;
}

/* Canvas / Game Area */
#main_canvas{
    background-color: black;
}

/* View Move Panels */
.view_move_hidden_panel{
    opacity: 0.0;
    background-color: black;
}

.view_move_hidden_panel:hover{
    opacity: 0.6;
}

/* Control Panels */
.control_panel{
    background-color: white;
    opacity: 0.03;    
    padding: 5px;
    border-radius: 30px;
    transition-duration: 1000ms;
}

.control_panel:hover{
    opacity: 0.8;
    transform: translate(5px) scaleX(1.03);
}

#new_simulation_panel{
    margin-left: 55px;
    margin-top: 35px;
    width: 250px;
    height: 400px;
}

#interract_panel{
    margin-left: 55px;
    margin-top: 450px;
    width: 250px;
    height: 200px;
}

/* controlls */
.input{
    margin: 5px;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    outline: none; 

    appearance: none;
    width: 120px;
    height: 10px;
    background: #777777;
    border-radius: 5px;
}
.slider:hover{
    background: #999999;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 6px; 
    height: 12px;
    background: #232423;
    cursor: pointer; 
    border-radius: 50%;
  }
  
  .slider::-moz-range-thumb {
    width: 6px;
    height: 12px;
    background: #232423;
    cursor: pointer; 
    border-radius: 50%;

  }
.button{
    height: 20px;
    background-color: #777777;
    border-radius: 5px;
    border-style: none;
    outline: none;
    border: none;
    cursor: pointer; 
}

.button:hover{
    background-color: #999999;
    transform: scale(1.05);
}

.button:active{
    background-color: #dddddd;
    transform: scale(1.00);
}

.button_small{
    width: 20px;
}

.button_big{
    width: 100px;
}

.input_description{
    display: inline-block;
    width: 75px;
    padding-left: 5px;
}

.output_description{
    display: inline-block;
    width: 75px;
    padding-left: 5px;
}

.dynamic_value{
    display: inline-block;
    width: 30px;
}

h1{
    font-size : 20px;
    margin: auto;
    text-align: center;
    padding-bottom: 5px;
}

.horline{
    height: 2px;
    background-color: #999999;
    border-radius: 50%;
}

#generate_button_div{
    text-align: center;
}